#root {
  margin: 0 auto;
  text-align: center;
  background: #f6f8fc;
  padding: 0 10vw;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(src/assets/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.testing {
  color: red;
}
.ChakraInputGroup {
  margin-top: 30px;
  margin-bottom: 30px;
}

.ChakraInput {
  min-height: 60px;
}

.PokeSearchIconContainer {
  background-color: #ff5350;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #ff535088 5px 5px 15px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 5px;
}
